In [7]:
## Load in needed mods
import numpy as np, pandas as pd

## Set genotype path
genopath = '../GENOTYPE/H99_prog_gt.csv.gz'

## Load genotype
GTS = pd.read_csv(genopath,index_col=0)

## Add columns
cols = GTS.columns.tolist()

## View head
GTS.head()

,prog41_S62,prog17_S67,prog36_S75,prog14_S66,prog12_S39,prog29_S58,prog34_S60,prog26_S72,prog13_S65,prog18_S68,...,Pos,Contig,DPmin,Alt,Ref,Type,Altlen,Qual,NALT,AF
191,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,10536,Chr_1,11.0,T,C,SNV,1,4.526492,1,0.464286
192,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,10544,Chr_1,12.0,T,C,SNV,1,4.516699,1,0.428571
339,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,...,12618,Chr_1,73.0,G,C,SNV,1,4.731814,1,0.500000
341,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,...,12640,Chr_1,85.0,T,A,SNV,1,4.592010,1,0.428571
377,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,21326,Chr_1,80.0,G,A,SNV,1,4.520617,1,0.214286

In [8]:
## Set samples
samples = cols[:cols.index('Pos')]

In [10]:
## Take short names
short_names = [str(int(samp.split('_')[0].split('prog')[-1])) 
               for samp in samples]

## Gather col names
cols = GTS.columns.tolist()

## makenew col names
newcols = short_names+cols[cols.index('Pos'):]

## check work
assert len(cols) == len(newcols), "Column renaming mismatch error"

## Set new column names
GTS.columns = newcols

## Gather snps
GTS.to_csv('../GENOTYPE/Bt65xH99_F1_progeny-SNPS.csv.gz')

## View head
GTS.head().T.head()

   191 192 339 341 377
41   1   1   0   0   0
17   1   1   1   1   0
36   0   0   0   0   0
14   1   1   1   1   1
12   1   1   1   1   0